<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pablo.myexample.drivewayfinder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pablo.myexample.drivewayfindertwo.ReservationDetailsForDriver"
            android:parentActivityName="pablo.myexample.drivewayfindertwo.LocationsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="pablo.myexample.drivewayfindertwo.LocationsScreen"
            android:parentActivityName="pablo.myexample.drivewayfindertwo.TheDriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pablo.myexample.drivewayfindertwo.IconClick"
            android:parentActivityName="pablo.myexample.drivewayfindertwo.TheDriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pablo.myexample.drivewayfindertwo.EditProfileDriver"
            android:parentActivityName="pablo.myexample.drivewayfindertwo.TheDriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pablo.myexample.drivewayfindertwo.TheDriverActivity"
            android:label="@string/title_activity_the_driver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DriverProfile"
            android:parentActivityName=".DateDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DateDetails"
            android:parentActivityName=".OwnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddDate"
            android:parentActivityName=".OwnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:parentActivityName=".OwnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OwnerActivity"
            android:label="@string/title_activity_owner"
            android:theme="@style/OwnerTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DriverRoute"
            android:theme="@style/OwnerTheme"
            android:parentActivityName=".MainActivityTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OwnerRoute"
            android:theme="@style/OwnerTheme"
            android:parentActivityName=".MainActivityTwo"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivityTwo"
            android:theme="@style/OwnerTheme"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeForMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>